/* Button{
size: 2rem;
} */

mat-menu{
    size: 2rem;
}

/* .image{
    height:40em; background-size:cover; width:auto;
    background-image:url('../assets/Allen.png');
    background-position:50% 50%;
  } */

  .example-button-toggle-label {
    display: inline-block;
    margin: 16px;
  }

  /* body {
    background-image: url('../assets/Allen.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  } */

  .LeftBlock{
    /* background-color: rgb(0, 0, 0); */
    background-size: 100% 100%;
    height: max-content;
  }

  .colorBlock{
    background-size: 100% 100%;
    height: max-content;
    background-color: royalblue;
    color: white;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;
    z-index: 12000;
 }


 .mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}