<body>
  <div class="container-fluid">
    <!-- <div>
      <mat-button-toggle-group
        #colorToggle="matButtonToggleGroup"
        value="primary"
        aria-label="Change color"
      >
        <mat-button-toggle value="primary"> Primary </mat-button-toggle>
        <mat-button-toggle value="accent"> Accent </mat-button-toggle>
      </mat-button-toggle-group>
      <span class="example-button-toggle-label"> Color </span>
    </div> -->

    <!-- <div>
      <mat-button-toggle-group
        #backgroundColorToggle="matButtonToggleGroup"
        value="primary"
        aria-label="Change color"
      >
        <mat-button-toggle value="primary"> Primary </mat-button-toggle>
        <mat-button-toggle value="accent"> Accent </mat-button-toggle>
      </mat-button-toggle-group>
      <span class="example-button-toggle-label"> Background Color </span>
    </div> -->
    <div class="row">
      <div class="col-md-4 LeftBlock">
        <div class="row">
          <!-- <div class="col-md-4 LeftBlock">Hi</div> -->
          <div class="col-md-4 colorBlock">
            M Allen Geoshan

            <img
              pt-5
              src=".././assets/Allen.jpg"
              alt="Allen Geoshan"
              width="400"
              height="440"
            />
          </div>
          <!-- <div class="col-md-4 LeftBlock">How</div> -->
        </div>
      </div>
      <div class="col-md-8" class="pl-0">
        <mat-tab-group color="primary" backgroundColor="primary" class="pl-0">
          <mat-tab label="About Me" class="pl-3">
            <h1 class="pt-4">M Allen Geoshan</h1>
            <p class="pt-5">
              Automation Tester with a pragmatic approach, leveraged on nuances,
              with gifted presentation skills.
            </p>
            <p>
              Always eager to explore new contributions in the field of
              Automation Testing and Application Design.
            </p>

            <hr />
            <h2>Hey I am here</h2>

            <hr />
            <div>
              <p>
                Automation Tester with a pragmatic approach, leveraged on
                nuances, with gifted presentation skills.
              </p>
            </div>
          </mat-tab>
          <mat-tab label="Skills">
            <section class="pt-5">
              <mat-vertical-stepper #stepper>
                <mat-step>
                  <ng-template matStepLabel>Selenium</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Core Java</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
                <mat-step> 
                  <ng-template matStepLabel>Angular js</ng-template>
                  <div class="pt-4">Selenium experience</div>
                </mat-step>
              </mat-vertical-stepper>

              <!-- <div class=pl-2>
                <button mat-raised-button color="primary">Selenium</button> Selenium
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>
             
              <div class=pl-2>
                <button mat-raised-button color="primary">Selenium</button>
              </div>
              <div class=pl-2>
                <button mat-raised-button color="primary">Selenium</button>
              </div>
              <button mat-raised-button color="primary">Selenium</button>
              <button mat-raised-button color="primary">Selenium</button>
              <button mat-raised-button color="primary">Selenium</button>
              <button mat-raised-button color="primary">Selenium</button>
              <button mat-raised-button color="primary">Selenium</button> -->
            </section>
          </mat-tab>
          <mat-tab label="IT Experience"> IT Experience </mat-tab>
          <mat-tab label="Trainings"> Trainings </mat-tab>
          <mat-tab label="Recognition"> Recognition </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <a href=""></a>
    <!-- <div class="row">
      <div class="col-md-4">
        <h1>Allen Geoshan M</h1>
        <hr />
        <h2>Hey I am here</h2>

        <hr />
        <div>
          <p>
            Automation Tester with a pragmatic approach, leveraged on nuances,
            with gifted presentation skills.
          </p>
        </div>

        <button mat-button [matMenuTriggerFor]="animals">Animal index</button>
        <mat-menu #animals="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="vertebrates">
            Vertebrates
          </button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">
            Invertebrates
          </button>
        </mat-menu>

        <mat-menu #vertebrates="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
          <button mat-menu-item [matMenuTriggerFor]="amphibians">
            Amphibians
          </button>
          <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>

        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>

        <mat-menu #fish="matMenu">
          <button mat-menu-item>Baikal oilfish</button>
          <button mat-menu-item>Bala shark</button>
          <button mat-menu-item>Ballan wrasse</button>
          <button mat-menu-item>Bamboo shark</button>
          <button mat-menu-item>Banded killifish</button>
        </mat-menu>

        <mat-menu #amphibians="matMenu">
          <button mat-menu-item>Sonoran desert toad</button>
          <button mat-menu-item>Western toad</button>
          <button mat-menu-item>Arroyo toad</button>
          <button mat-menu-item>Yosemite toad</button>
        </mat-menu>

        <mat-menu #reptiles="matMenu">
          <button mat-menu-item>Banded Day Gecko</button>
          <button mat-menu-item>Banded Gila Monster</button>
          <button mat-menu-item>Black Tree Monitor</button>
          <button mat-menu-item>Blue Spiny Lizard</button>
          <button mat-menu-item disabled>Velociraptor</button>
        </mat-menu>

        <section>
          <div class="example-label">Raised</div>
          <div class="example-button-row">
            <button mat-raised-button color="primary">Primary</button>
          </div>
        </section>

        <div class="image">Your content</div>
      </div>
      <div class="col-md-4">Tesd</div>
    </div>
    <div>
      <div class="container">
        <div class="row">
          <div class="col">1 of 2</div>
          <div class="col">2 of 2</div>
        </div>
        <div class="row">
          <div class="col">1 of 3</div>
          <div class="col">2 of 3</div>
          <div class="col">3 of 3</div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="footer">
    <p>All Rights Reserved 2021.</p>
  </div>
</body>
